<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--
        <context:property-placeholder location="classpath:property/redis.properties,classpath:property/jdbc.properties" />
-->

        <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
                <property name="locations">
                        <list>
                               <value>classpath:property/jdbc.properties</value>
                                <!--<value>classpath:property/redis.properties</value>-->
                        </list>
                </property>
        </bean>

        <import resource="classpath:spring-ibatis.xml" />
       <!-- <import resource="classpath:spring-mybatis.xml" />-->
        <!--<import resource="classpath:spring-redis.xml" />-->
</beans>